# macOS
.DS_Store

# MSE

# Latex intermediates
*.aux
*.synctex.gz
*.log

# Large exodus data files
*.exo

# Large VTK files
*.vtu
*.pvtu

# Large numpy data arrays
*.npy

# Movie frames and movies
*.png
*.mp4
*.mp3

# ZIP archives
*.zip

# Ignore the BUFFY directory in project 2
# Manually add a handful of important files
project2/BUFFY

# Doxygen build directories
hw1/html
hw1/latex

# VS Code directories
.vscode/

# IPython checkpoints
.ipynb_checkpoints/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.x
*.out
*.app

# Specific executables with no suffix
hw2/lbm_7/lbm_test
hw2/lbm_7/lbm_pbc
hw2/lbm_7/lbm_mbc
